.game-overlay{
   width:100%;
   height:100%;

   position:relative;
   z-index:1;

   .bar-bottom{
      bottom:0;
      transform:translateY(100%);
   }
   .bar-top{
      top:0;
      transform:translateY(-100%);
   }

   .bar-bottom, .bar-top{
      position:absolute;
      left:0;

      color:$white;
      background:$black;

      display: flex;
      justify-content: center;
      align-items: center;

      width:100%;
      height:120px;

      @include transition(transform);

      font-size:2em;
   }

   &.game-over{
      .bar-bottom, .bar-top{
         transform:none;
      }
   }
   &:not(.completed){
      .complete-banner{
         display:none;
      }
   }
   &.completed{
      .fail-banner{
         display: none;
      }
   }

   .best-time{
      color:$gray;
   }

   .debug-alpha-message{
      position:absolute;
      color:$gray;
      right:16px;
      bottom:16px;

      z-index:1000;
   }
}